<div class="container text-center mt-3 mb-6">
  <h1>All our products</h1>
</div>


<!-- <div class="container">
  <div class="card" *ngFor="let product of list_of_products">
    <img [src]="product.image" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ product.label }}</h5>
      <p class="card-text">{{ product.description }}</p>
      <div class="container d-flex align-items-center">
        <a [href]="product.link" class="btn btn-primary">Buy</a>
        <div class="quantity ms-3">
          <a class="quantity__minus"><span>-</span></a>
          <input name="quantity" type="text" class="quantity__input" value="1">
          <a class="quantity__plus"><span>+</span></a>
        </div>
      </div>
    </div>
  </div>
</div> -->


